h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 300px;
    margin: auto;
    background-color: red;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgb(0, 0, 0);
    background-color: skyblue;
}
.normal-text{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: left;
    margin-bottom: 10%;
}
.small-text{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 12px;
}
.fields{
    margin: auto;
    width: 250px;
    border: none;
    padding: 8px;
}
.btn{
    display: flex;
    justify-content: right;
}
.submit-btn{
    font-size: 14px;
    border-radius: 8px;
    border-color: sandybrown;
    padding: 8px 16px 8px 16px;
}