header{
    background-color: #b26d4b;
    margin: auto;
    border-radius: 10px;
    height: fit-content;
}
.topnav{
    overflow: hidden; 
    display: flex;
    align-items: flex-end   ;
}
.topnav a{
    align-items: right;
    color: #063944;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black; 
}
.topnav a.active {
  background-color: #049caa;
  color: white;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: -1px;
}
.dropdown{
    height: 20px;
    width: 200px;
    padding: 2px;
    margin: auto;
    border-radius: 8px;
    position: right;
}
.card-img{
    height: 320px;
    width: 320px;
    margin-top: 10px;
    border-radius: 10px;
}
.card{
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
    border: 2px;
    border-radius: 8px;
    max-width: 350px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    text-align: center;
    font-family: Arial;
    border-color: gray;
    background-color: #F1F8F8;
}
.price{
    font-size: 22px;
    font-weight: bold;
}
button{
    height: 40px;
    width: 300px;
    border-radius: 8px;
    border-color: none;
    padding: 2px;
    margin: auto;
    background-color: #063944;
    font-size: 16px;
    font-weight: bold;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
footer{
    text-align: center;
    padding: 3px;
    color: white;
    background-color: #258499;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}